.u-section-1 {
  background-image: url("../images/login_register.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  min-height: 536px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 96px;
  height: 95px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 285px;
  width: 524px;
  margin: 53px 0 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: solid;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: -118px 23px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: 104px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-image-1 {
    height: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -90px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 52px;
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}